[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
pylint = "*"

[packages]
scikit-learn = "==0.20.0"
pandas = "===1.0.3"
xgboost = "===1.0.2"
arrow = "*"
numpy = "===1.18.4"
scipy = "===1.4.1"

[requires]
python_version = "3.7"
